*.pyc
*.sw*
*.xml
*.vscode
Tensile.egg-info
build*
dist
.cache

0_Build
1_BenchmarkProblems
2_BenchmarkData
3_LibraryLogic
4_LibraryClient

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim tags
tags
.tags
.*.swp

# Editors
.vscode

# emacs temporary/backup files
.\#*
\#*\#
*~
